#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <jmxConfigurator/>
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>
        <property name="LOG_FILE" value="${symbol_pound}{user.home}/alpaca/log/${symbol_pound}{spring.application.name}.log" />

        <include resource="alpaca/park/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>